{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "project": "./tsconfig.json",
    "tsconfigRootDir": "."
  },
  "overrides": [{
    "files": [ "src/common/validation/**/*.ts"],
    "rules": {
      "@typescript-eslint/no-explicit-any": "off",
      "@typescript-eslint/explicit-module-boundary-types": "off"
    }

  }, {
    "files": [ "src/**/*.route.ts"],
    "rules": {
      "@typescript-eslint/no-misused-promises": "off"
    }

  }]
}